
/* HEADER SECTION */

.mainHeader {
    background-image: url(../assets/homeHeader.jpg);
    background-size: cover;
    height: 75vh;
    h1 {
        padding-top: 250px;
    }
    .wrapper {
        position: relative;
        i {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 1.5rem;
            visibility: hidden;
        }
    }
    .skateboard {
        height: 40%;
        width: 40%;
        position: absolute;
        right: 0%;
        top: 250px;
        img {
            display: block;
        }
    }
}

/* INFO SECTION */

.info {
    background-color: $turquoise;
    padding-top: 200px;
    padding-bottom: 100px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.infoBlock {
    position: relative;
    width: calc(50% - 50px);
    padding-bottom: 50px;
    .infoText {
        h3 {
            margin: 0 0 40px 0;
        }
    }
}

.iconCircle {
    height: 45px;
    width: 45px;
    background-color: $aqua;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: -8px;
    left: -65px;
    i {
        color: $purple;
        position: absolute;
        top: 12px;
        left: 12px;
    }
}

.infoBlock:nth-child(2) {
    i {
        left: 10px;
    }
}

.infoBlock:nth-child(3) {
    i {
        left: 16px;
    }
}

.infoBlock {
    margin-left: 50px;
}

/* BLOG SECTION */

.blogLinks {
    background: $purple;
    padding-top: 100px;
    article {
        width: calc(50% - 100px);
        h3 {
            margin-bottom: 10px;
        }
    }
}

.topBlogLinks {
    display: flex;
    margin-bottom: 0;
    align-items: flex-start;
    article {
        margin-left: 325px;
        padding-right: 80px;
    }
    .blogLinkImage {
        position: relative;
        top: -120px;
        left: 0;
        box-shadow: 20px 20px $aqua;
    }
}

.bottomBlogLinks {
    display: flex;
    padding-bottom: 20;
    margin-top: 0;
    align-items: flex-start;
    article {
        padding-left: 80px;
        margin: 0 325px 0 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p { 
            margin-bottom: 0;
        }
    }
    .blogLinkImage {
        position: relative;
        top: 30px;
        right: 0;
        box-shadow: -20px 20px $aqua;
    }
}

.blogLinkImage {
    width: 50%;
    max-width: 600px;
    img {
        display: block;
        position: relative;
        z-index: 10;
    }
}

.readMore {
    background: $aqua;
    margin-top: 50px;
    padding: 5px 10px;
    a {
        color: $purple;
        font-family: 'Walter Turncoat', cursive;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
        padding: 5px 10px;
    }
}

.readMore:hover {
    background: $blue;
}
.readMore a:hover {
    color: $aqua;
}

/* ROAD TRIP ARTICLE */

.roadTrips {
    background: $turquoise;
    padding-top: 150px;
    padding-bottom: 100px;
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    button {
        margin: 0 auto;
        margin-top: 50px;
    }
}

.findOutMore {
    background: $aqua;
    padding: 10px 20px;
    a {
        color: $purple;
        font-family: 'Walter Turncoat', cursive;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
        padding: 10px;
    }
}

.findOutMore:hover {
    background: $purple;
}

.findOutMore a:hover {
    color: $aqua;
}

/* EVENTS SECTION */

.beachImage {
    background-image: url(../assets/banner.jpg);
    height: 50vh;
}

.events {
    background: $turquoise;
    .wrapper {
        display: flex;
        padding-top: 150px;
        padding-bottom: 100px;
        align-items: flex-start;
    }
}

.eventsImage {
    width: calc(30% - 50px);
    margin-right: 50px;
    box-shadow: -20px 20px $aqua;
    img {
        display: block;
    }
}

.eventsText {
    width: calc(70% - 50px);
    margin-left: 50px;
}

/* GALLERY SECTION */

.gallery {
    background: $purple;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .wrapper {
         display: flex;
    }
}

.galleryItem {
    width: calc(33% - 40px);
    margin: 0 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1275px) {
    .mainHeader {
        .skateboard {
            height: 30%;
            width: 30%;
            top: 400px;
        }
    }
    .infoBlock {
        margin-left: 70px;
        width: calc(50% - 70px);
    }
    .topBlogLinks {
        article {
            margin-left: 200px;
        }
    }
    .bottomBlogLinks {
        article {
            margin: 0 200px 0 0;
        }
    }
}

@media (max-width: 1150px) {
    .mainHeader {
        .skateboard {
            display: none;
        }
    }
    .info {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .topBlogLinks {
        h3 {
            line-height: 55px;
        }
        .blogLinkImage {
            top: 0;
        }
    }
    .bottomBlogLinks {
        h3 {
            line-height: 55px;
        }
    }
    .blogLinks {
        padding-top: 40px;
        padding-bottom: 60px
    }
}

@media (max-width: 900px) {
    .mainHeader h1 {
        font-size: 100px;
    }
    .infoBlock {
        h3 {
            line-height: 45px;
        }
    }
    .blogLinkImage {
        position: static;
    }
    .topBlogLinks {
        flex-direction: column;
        align-items: center;
    }
    .topBlogLinks article {
        margin: 50px 0;
        padding: 0;
        width: 80%;
        text-align: center;
        button {
            margin: 0 auto;
        }
    }
    .bottomBlogLinks {
        flex-direction: column-reverse;
        align-items: center;
    }
    .bottomBlogLinks article {
        width: 80%;
        margin: 80px 0 50px 0;
        padding: 0;
        text-align: center;
        h3 {
            width: 100%;
        }
        button {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .roadTrips {
        padding: 80px 0;
        p {
            width: 90%;
        }
    }
    .beachImage {
        height: 30vh;
    }
    .events .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
        .eventsImage {
            margin: 0;
            width: 50%;
        }
    }
    .events .wrapper .eventsText {
        margin: 0;
        text-align: center;
        margin-top: 70px;
        width: 90%;
        button {
            margin: 0 auto;
            margin-top: 50px;
        }
    }
}

@media (max-width: 700px) {
    .mainHeader {
        height: 50vh;
        .wrapper h1 {
            padding-top: 150px;
            font-size: 75px;
            margin-top: 0;
        }
        .wrapper i {
            visibility: visible;
        }
        .headNav {
            display: none;
        }
    }
    .info .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .infoBlock {
        width: 80%;
        margin: 0;
        .infoText h3 {
            margin-bottom: 20px;
            font-size: 35px;
        }
    }
    .blogLinks {
        padding-bottom: 0;
    }
    .eventsImage {
        display: none;
    }
    .events .wrapper {
        padding-top: 0;
    }
    .gallery {
        padding: 50px 0;
    }
    .first,
    .second {
        width: calc(50% - 40px);
    }
    .gallery .third {
        display: none;
    }
}

@media (max-width: 570px) {
    .infoBlock {
        text-align: center;
        .iconCircle {
            display: none;
        }
    }
    .topBlogLinks {
        flex-direction: column-reverse;
        .blogLinkImage {
            width: 100%;
        }
    }
    .bottomBlogLinks .blogLinkImage {
        display: none;
    }
    .topBlogLinks article .readMore {
        padding: 5px 10px;
        a {
            font-size: 18px;
        }
    }
    .bottomBlogLinks article .readMore {
        padding: 5px 10px;
        a {
            font-size: 18px;
        }
    }
    .roadTrips h3{
        line-height: 50px;
    }
    .roadTrips button { 
        padding: 5px 10px 5px 10px;
        a {
            font-size: 18px;
        }
    }
    .events button { 
        padding: 5px 10px 5px 10px;
        a {
            font-size: 18px;
        }
    }
}

@media (max-width: 400px) {
    .mainHeader .wrapper h1 {
        font-size: 60px;
    }
    .info {
        padding-top: 50px;
    }
    .topBlogLinks article {
        margin-top: 0;
    }
}